{% extends 'base.html.twig' %}

{% block body %}
   {% for message in app.flashes('notice') %}
        <div class="ibox-content">
            <div class="alert alert-success">
                {{ message }}
            </div>
        </div>
    {% endfor %}

    {# pass an array argument to get the messages of those types  #}
    {% for label, messages in app.flashes(['warning', 'error','danger']) %}
        {% for message in messages %}
            <div class="ibox-content">
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Employees list</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    {% for key,employeeDetails in employees %}
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="7">{{key}}</th>
                                </tr>
                            </thead>
                        </table>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Employee Name</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Tpnumber</th>
                                    <th>Sun Department</th>                               
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for employee in employeeDetails %}
                                    <tr>
                                        <td>{{ employee.id }}</td>
                                        <td><a href="{{ path('employee_show', { 'id': employee.id }) }}">{{ employee.employeeName }}</a></td>
                                        <td>{{ employee.email }}</td>
                                        <td>{{ employee.address }}</td>
                                        <td>{{ employee.tpNumber }}</td>                                    
                                        <td>{{ employee.sunDepartment }}</td>                                    

                                        <td>
                                            <a href="{{ path('employee_show', { 'id': employee.id }) }}" class="btn btn-info btn-xs">show</a>
                                            <a href="{{ path('employee_edit', { 'id': employee.id }) }}" class="btn btn-warning btn-xs">edit</a>
                                           
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
